<ul class="links">

  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  
  <li class="{% if page.url contains '/episode/' %} active {% endif %}"><a href="{{ "/episode/" | absolute_url }}">Episodes</a></li>
  
    <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>

  

</ul>

<ul class="icons">


    <li><a href="https://twitter.com/i_can_science" class="icon fa-twitter" rel="me"><span class="label">Twitter</span></a></li>
  
  <li><a href="https://www.instagram.com/i_can_science/" class="icon fa-instagram" rel="me"><span class="label">Instagram</span></a></li>
  
  
</ul>